/* www.menucool.com/tooltip/javascript-tooltip */

/*For tooltip target element that has set class="tooltip" */
.tooltip {text-decoration: none; border-bottom:1px dotted #004B6B;color: #004B6B; outline: none; }

/*For tooltip box*/
#mcTooltip 
{
    line-height:20px;        /*行距*/
    border-width: 1px;      /*提示框線粗細*/
    color:#333;             /*字體顏色*/
    border-color:#BBB;      /*框線顏色*/
    padding:10px;           /*邊緣空間*/
    font-size: 10px;        /*字型大小*/
    font-family: Microsoft JhengHei;  /*字體*/
    border-radius:10px;      /*提示框圓角*/ 
    background-color:#FFF;   /*背景顏色*/
}

#mcTooltip, #mcttCo b {
    box-shadow: 0 1px 4px rgba(0,0,0,0.5); /*提示框陰影*/
}

/* For hyperlink within tooltip */
#mcTooltip a { color:red; }  /*提示框中超連結顏色*/

/*Close button. Available when sticky or overlay has been set to true, or is on touch-enabled devices. */
#mcttCloseButton
{                                    /*sticky 打開 要按關閉鈕才會關閉*/
    border-radius:4px;  /*關閉鈕圓角*/ 
    width:18px;         /*關閉鈕寬*/
    height:18px;         /*關閉鈕高*/
    margin-right:2px;
    margin-top:2px;
    background:black;    
}

/*Close button X symbol*/
#mcttCloseButton:after {
    font:normal 38px/18px arial, sans-serif;
    color:white;
    top:0;left:-2px;
}

/*Give the close button a bigger size on smaller devices*/
@media only screen and (max-width: 736px) {
    #mcttCloseButton {
        width:28px;
        height:28px;
    }
    #mcttCloseButton:after {
        font-size:48px;
        line-height:28px;
    }    
} 

/* Useful when overlay has been set to true or 1 in JS */
#mcOverlay 
{
    background-color: rgba(255,255,255,0.8);
    display:none;top:0;left:0;width:100%;height: 100%;overflow:visible;z-index:4; 
}

/*The settings below should remain unchanged*/
#mcTooltipWrapper {position:absolute;visibility:hidden;overflow:visible;z-index:9999999999;top:-2000px;}
#mcTooltip {float:left;border-style:solid;position:relative;overflow:hidden;}
.mcTooltipInner {float:left;position:relative;width:auto;height:auto;}
#mcttCo,  #mcttCo b{position:absolute;overflow:hidden;}

/*compatible with bootstrap*/
#mcTooltip, #mcTooltip div {box-sizing:content-box;}